<h1>Update Employee</h1>
<form action="/update-employee/{{employee._id}}" method="POST">
    <label>First Name:</label>
    <input type="text" name="firstName" value="{{employee.firstName}}" required><br>

    <label>Last Name:</label>
    <input type="text" name="lastName" value="{{employee.lastName}}" required><br>

    <label>Department:</label>
    <select name="department">
        <option {{#ifEquals employee.department "HR"}}selected{{/ifEquals}}>Hardware</option>
        <option {{#ifEquals employee.department "IT"}}selected{{/ifEquals}}>Appliances</option>
        <option {{#ifEquals employee.department "Marketing"}}selected{{/ifEquals}}>Cashier</option>
    </select><br>

    <label>Start Date:</label>
    <input type="date" name="startDate" value="{{employee.startDate}}" required><br>

    <label>Job Title:</label>
    <input type="text" name="jobTitle" value="{{employee.jobTitle}}" required><br>

    <label>Salary:</label>
    <input type="number" name="salary" value="{{employee.salary}}" required><br>

    <button type="submit">Save</button>
</form>
<a href="/">Back to Employee List</a>
